name: Call a reusable workflow

on:
  pull_request:
    branches:
      - main

jobs:
#   call-workflow:
#     uses: ilyamt-tandemg/dispatch_demo_minion/.github/workflows/workflow-A.yml@v1

  call-workflow-passing-data:
    uses: ilyamt-tandemg/dispatch_demo_minion/.github/workflows/workflow-B.yml@main
    with:
      username: mona
    secrets:
      token: ${{ secrets.TOKEN }}
