name: Call a reusable workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-workflow-passing-data:
    uses: ilyamt-tandemg/dispatch_demo_minion/.github/workflows/workflow-B.yml@main
    with:
      username: mona
